<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vuetst</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="shortcut icon" href="../src/assets/favicon  .ico" type="image/x-icon">
</head>
<body>
<div id="guess">
  <button onclick="s()">show</button>
</div>
<div id="t1">
  see
</div>
<div id="t3">
  <p v-text="m1"></p>
  <input type="text" placeholder="hello" v-model="m1">
  <input type="text" placeholder="hello" v-model="m1">
</div>

<div id="t4" v-bind:style="color:color3">
  <p>{{m2}}</p>
  <p>{{rem2}}</p>
  <p>问个问题：</p>
  <input v-model="question">
  <p>{{answer}}</p>
  <input type="radio" name="sex" v-model="color1" value=true>
  <input type="radio" name="sex" v-model="color1">
  <p>你选了{{color1}}</p>
</div>
</body>
<script type="application/javascript">
  new Vue({
    el: '#t4',
    data:
      {
        m2: 'hell',
        question: '',
        answer: '',
        sex1: '',
        answer1: '',
        color2: 'color',
        color1: '',
        size2: 'size',
        color3: "red"

      },
    watch: {
      question: function () {
        this.answer = "问你麻痹"
      },
      sex1: function () {
        if (this.sex1 == 1) {
          this.answer1 = 1;
        }
        else {
          this.answer1 = 2;
        }
      }
    },
    computed: {
      rem2:
        function () {
          return this.m2.split('').reverse().join('');
        }
    }
  })
  // import vue from 'Vue'
  //例子1
  var t2 = document.getElementById("t1");

  function s() {
    t2.style.display = "block"
  }

  new Vue({
    el: '#t3',
    data: {
      m1: 'hello1'

    }
  })

</script>
<style>
  #t1 {
    display: none;
  }

  .color {
    color: red;
  }

  .size {
    font-size: larger;

  }
</style>
</html>
